= simple_form_for(@mail_template) do |f|
  = f.error_notification
  .form-inputs
    = f.input :subject
    = f.input :tag_list, :input_html => {value: @mail_template.tag_list.join(", ")}
    = f.input :body, as:"ckeditor", :input_html => { :ckeditor => {:toolbar => 'full'} }

  .form-actions
    = f.button :submit
