%h1 Listing Mail Templates

-if @tag
  %p
    %b With Tag:
    = @tag
%table.table
  %thead
    %tr
      %th Subject
      %th Name
      %th
      %th
      %th
      
  %tbody
    - @mail_templates.each do |newsletter|
      %tr
        %td= newsletter.subject
        %td= link_to newsletter.name, edit_mail_template_path(newsletter)
        %td= link_to 'Show', newsletter
        %td= link_to 'Edit', edit_mail_template_path(newsletter)
        %td= link_to 'Destroy', newsletter, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Template', new_mail_template_path
