%p#notice= notice

%p
  %b Subject:
  = @mail_template.subject

%p
  %b Name:
  = @mail_template.name

%p
  %b Body:
  %div=raw @mail_template.body

= link_to 'Edit', Templator::Engine.routes.url_helpers.edit_mail_template_path(@mail_template)
\|
= link_to 'Back', Templator::Engine.routes.url_helpers.mail_templates_path
