%p#notice= notice

%p
  %b Subject:
  = @mail_template.subject

%p
  %b Tags:
  = render partial:"tags", locals:{tag_list:@mail_template.tag_list}

%p
  %b Body:
  %div=raw @mail_template.body

= link_to 'Edit', Newsletter::Engine.routes.url_helpers.edit_mail_template_path(@mail_template)
\|
= link_to 'Back', Newsletter::Engine.routes.url_helpers.mail_templates_path
