%p#notice= notice

%p
  %b Subject:
  = @newsletter.subject

%p
  %b Tags:
  = render partial:"tags", locals:{tag_list:@newsletter.tag_list}

%p
  %b Body:
  %div=raw @newsletter.body

= link_to 'Edit', Newsletter::Engine.routes.url_helpers.edit_newsletter_path(@newsletter)
\|
= link_to 'Back', Newsletter::Engine.routes.url_helpers.newsletters_path
